body{
  color: aliceblue;   
  background-repeat: no-repeat;
  background-size: 1672px 873px;
  
}
section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60%;
}

.monitor {
font-size: 23px;
text-transform:uppercase;
font-style: italic;
color: aliceblue;
}


.btn:hover{

  background-color: rgb(219, 141, 141);
  color: whitesmoke;
  cursor: pointer;
  
}

.btn{
  padding: 10px;
  margin-left: -8px;
  border-radius: 29px;
  margin-right: 10px;
  text-align: center;
  padding-right: 49px;
  padding-left: 52px;
  margin-top: -8px;
}

.status{
  font-size: 27px;
  margin-top: -16px;
  margin-bottom: 8px;
}