section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60%;
}

.monitor {
font-size: 33px;
text-transform:uppercase;
font-style: italic;
}